language: python
matrix:
  include:
    - name: "Python 3.5 on Linux"
      python: 3.5
      dist: xenial
    - name: "Python 3.6 on Linux"
      python: 3.6
      dist: xenial
    - name: "Python 3.7 on Linux"
      python: 3.7
      dist: xenial
    - name: "Python 3.8 on Linux"
      python: 3.8
      dist: xenial
    - name: "Python 3.7 on macOS"
      os: osx
      osx_image: xcode10.2  # Python 3.7.2 running on macOS 10.14.3
      language: shell       # 'language: python' is an error on Travis CI macOS
    - name: "Python 3.8 on Windows"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install: choco install python
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
install: python3 setup.py install || python setup.py install
# 'python' points to Python 2.7 on macOS but points to Python 3.7 on Linux and Windows
# 'python3' is a 'command not found' error on Windows but 'py' works on Windows only
script: python3 PyGLM_test.py || python PyGLM_test.py