include LICENSE
include COPYING
include README.md
include GLM_LICENSE
include color_space.h
include constants.h
include epsilon.h
include func_common.h
include func_exponential.h
include func_geometric.h
include func_matrix.h
include func_trigonometric.h
include func_vector_relational.h
include glminternalfuncs.h
include glmtypes.h
include matrix_access.h
include matrix_transform.h
include noise.h
include quaternion.h
include random.h
include reciprocal.h
include type_mat2x2.h
include type_mat2x3.h
include type_mat2x4.h
include type_mat3x2.h
include type_mat3x3.h
include type_mat3x4.h
include type_mat4x2.h
include type_mat4x3.h
include type_mat4x4.h
include type_ptr.h
include type_vec2.h
include type_vec3.h
include type_vec4.h
include _noise.h
include _vectorize.h
