# This is a basic workflow to help you get started with Actions

name: Test PyGLM on various systems and Python versions

# Controls when the workflow will run
on: [push, pull_request, workflow_dispatch]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test-build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build PyGLM
        run: python setup.py install
      - name: Install pytest
        run: |
          python -m pip install pip --upgrade
          pip install pytest
      - name: Test with pytest
        run: pytest test/PyGLM_test.py -v
  
